EXPO_PUBLIC_SUPABASE_URL=https://joweqhgtueqfeasweigh.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=xxx
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_IOS_URL_SCHEME=


# Apple Auth Secrets
APPLE_TEAM_ID=XA6*****
APPLE_KEY_ID=23L*****
APPLE_CLIENT_ID=com.talkpilot.app.auth
APPLE_PRIVATE_KEY_PATH=/Users/bytedance/Documents/important/AuthKey_23LM23L978.p8

SUPABASE_SERVICE_ROLE_KEY=xxx

EXPO_PUBLIC_DEEPGRAM_WS_URL=wss://api.deepgram.com/v1/listen

# LLM edge functions
LLM_PROVIDER=gemini
LLM_MODEL=gemini-2.5-flash
GEMINI_API_KEY=
GROQ_API_KEY=
MINIMAX_API_KEY=
DEEPSEEK_API_KEY=
OPENAI_API_KEY=

# revenuacat 支付
REVENUECAT_WEBHOOK_AUTH=xxx
EXPO_PUBLIC_REVENUECAT_PUBLIC_SDK_KEY_IOS=xxx
EXPO_PUBLIC_REVENUECAT_PUBLIC_SDK_KEY_ANDROID=
